:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 12px;

  /* colors */
  --oui-color-primary: 0 191 191;
  --oui-color-primary-light: 128 240 240;
  --oui-color-primary-darken: 0 128 128;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 191 191;
  --oui-color-link-light: 128 240 240;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 15 25 25;
  --oui-color-fill-active: 30 40 40;

  --oui-color-base-1: 23 28 31;
  --oui-color-base-2: 16 24 26;
  --oui-color-base-3: 10 20 22;
  --oui-color-base-4: 6 16 18;
  --oui-color-base-5: 3 12 14;
  --oui-color-base-6: 1 8 10;
  --oui-color-base-7: 30 40 40;
  --oui-color-base-8: 20 30 30;
  --oui-color-base-9: 12 22 22;
  --oui-color-base-10: 4 10 10;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 200 100;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 150 150;
  --oui-gradient-primary-end: 0 191 191;

  --oui-gradient-secondary-start: 40 60 80;
  --oui-gradient-secondary-end: 80 120 160;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 120 120;
  --oui-gradient-brand-end: 0 191 191;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 10 15 15;
  --oui-gradient-neutral-end: 20 25 25;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 13rem;
  --oui-spacing-sm: 13rem;
  --oui-spacing-md: 13rem;
  --oui-spacing-lg: 15;
  --oui-spacing-xl: 20;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 12px !important;
}